.form {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  width: 90%;
  margin: auto;
  margin-top: -1.625rem;
}

.form input {
  width: 100%;
  max-width: 39.875rem;
  height: 3.375rem;
  background-color: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 0.5rem;
  padding: 1rem;
}

.form input::placeholder {
  color: var(--gray-300);
}

.form input:hover {
  cursor: pointer;
}

.form input:focus {
  outline: none;
  border-color: var(--purple-dark);
  cursor: text;
}

.newTaskButton {
  background-color: var(--blue-dark);
  width: 5.625rem;
  height: 3.25rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;

  /* transition to hover */
  transition: background-color 0.3s;
}

.newTaskButton:hover {
  background-color: var(--blue);
}

.newTaskButton button {
  font-size: 0.875rem;
  background-color: transparent;
  border: 0;
  color: var(--gray-100);
  line-height: 140%;
  cursor: pointer;
}

main {
  margin-top: 4rem;
}

.tasksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  max-width: 46rem;
}

.tasksInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.563rem;
  width: 100%;
}

.tasksInfoCreated, .tasksInfoDone {
  display: flex;
  gap: 0.5rem;
}

.tasksInfoCreated p {
  color: var(--blue);
}

.tasksInfoDone p {
  color: var(--purple);
}

.tasksInfoCreated p, .tasksInfoDone p {
  font-size: 0.875rem;
  font-weight: 700;
}

.tasksInfoCreated span, .tasksInfoDone span {
  font-size: 0.75rem;
  background-color: var(--gray-400);
  border-radius: 62.438rem;
  padding: 0.125rem 0.5rem;
}

.emptyTasks {
  width: 90%;
  margin: auto;
  max-width: 46rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 1.5rem;
  border-top: 1px solid var(--gray-400);
}

.emptyTasks svg {
  color: var(--gray-400);
  margin-bottom: 1rem;
}

.emptyTasks p {
  color: var(--gray-300);
}

.emptyTasks p:first-of-type {
  font-weight: 700;
}

.taskList {
  width: 90%;
  margin: auto;
  max-width: 46rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.singleTask {
  width: 100%;
  margin-bottom: 0.75rem;
  padding: 1rem;
  background-color: var(--gray-500);
  border: 1px solid var(--gray-400);
  border-radius: 0.5rem;

  display: flex;
  align-items: flex-start;
}

.singleTask input[type="radio"] {
  width: 1.5rem;
}

.singleTask p, .singleTask s {
  margin: 0 0.75rem;
  width: 100%;
}

.singleTask svg {
  color: var(--gray-300);
  border-radius: 0.25rem;
}

.singleTask svg:hover {
  cursor: pointer;
  color: var(--danger);
}
