.header {
  background-color: var(--gray-700);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12.5rem;
}

.header img {
  width: 1.375rem;
  height: 2.25rem;
  margin-top: 0.5rem;
  margin-right: 0.875rem;
}

.textTo {
  color: var(--blue);
  font-size: 2.5rem;
  font-weight: 900;
}

.textDo {
  color: var(--purple-dark);
  font-size: 2.5rem;
  font-weight: 900;
}

.form {
  display: flex;
  justify-content: center;
  margin-top: -1.625rem;
  gap: 0.5rem;
}

.form input {
  /* % equivalente a 39.875rem em uma tela de 1440x1024 */
  width: 44.3%;
  max-width: 39.875rem;
  height: 3.375rem;
  background-color: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 0.5rem;
  padding: 1rem;
}

.form input::placeholder {
  color: var(--gray-300);
}

.form input:hover {
  cursor: pointer;
}

.form input:focus {
  outline: none;
  border-color: var(--purple-dark);
  cursor: text;
}

.newTaskButton {
  background-color: var(--blue-dark);
  width: 5.625rem;
  height: 3.25rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;

  /* transition to hover */
  transition: background-color 0.3s;
}

.newTaskButton:hover {
  background-color: var(--blue);
}

.newTaskButton button {
  font-size: 0.875rem;
  background-color: transparent;
  border: 0;
  color: var(--gray-100);
  line-height: 140%;
  cursor: pointer;
}

main {
  margin-top: 4rem;
}

.tasksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tasksInfo {
  /* % equivalente a 736px em uma tela de 1440x1024 */
  max-width: 51.1%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.563rem;
  width: 100%;
}

.tasksInfoCreated, .tasksInfoDone {
  display: flex;
  gap: 0.5rem;
}

.tasksInfoCreated p {
  color: var(--blue);
}

.tasksInfoDone p {
  color: var(--purple);
}

.tasksInfoCreated p, .tasksInfoDone p {
  font-size: 0.875rem;
  font-weight: 700;
}

.tasksInfoCreated span, .tasksInfoDone span {
  font-size: 0.75rem;
  background-color: var(--gray-400);
  border-radius: 100%;
  padding: 0.125rem 0.5rem;
}
